h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: #00FF00;
}
canvas{
    animation-name: name1;
animation-duration:3s;
animation-iteration-count: infinite;
}
@keyframes name1{
    0%{box-shadow: 2px 2px 39px #ce2438;}
    20%{box-shadow: 2px 2px 39px #c8cf0b;}
    40%{box-shadow: 2px 2px 39px #dbaa16;}
    60%{box-shadow: 2px 2px 39px #0ab7cf;}
    80%{box-shadow: 2px 2px 39px #0a62cf;}
    100%{box-shadow: 2px 2px 39px #ab16db;}
}